<!DOCTYPE html>

<html lang='en'>
  <head>
      {% include 'page.header.html' %}
      
      {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
  </head>

  <body>
    <nav>
      <h1>Cinghio Pinghio</h1>
      <ul>
        <li><a href="{{ get_url() }}">Home</a></li>
      </ul>
      <p>
        This is my webpage.
      </p>
    </nav>
       
    <div class='main'>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
