<!DOCTYPE html>

<html lang='en'>
  <head>
      {% include 'header.html' %}
      
      {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
  </head>

  <body>
    <nav>
      
      <a href="{{ get_url() }}"><img src="{{ get_asset('images/cp_circ_empty.svg') }}" alt="CinghioPinghio"
      width="60%"/></a>
      {% include 'nav_menu.html' %}
      <p>
      	Cose abbastanza random, note, bozze, foto.
      	Usare con precauzione.
      </p>
    </nav>
       
    <div class='main'>
      {% block breadcrumbs %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
