{% extends 'layout.html' %}


{% set title = item.title %}

{% block content %}

  <div class="post-header">
	  <h2 class='bottom-line'>{{ item.title }}</h2>
	  {{ item.date }}{% if item.tags %} <span>&raquo;</span> {% for tag
          in item.tags %}<a href="{{ get_url(posts.tags[tag].url) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}
  </div>

  {% if item.figure %} 
    <aside>
      <img src="{{ get_asset( 'files/'+item.figure ) }}" width=100% alt={{ item.title }}>
    </aside>
  {% endif %}
  <section>
    {{ item.content }}
    {% if item.paperauthors %}    <b>{{ item.paperauthors }}</b><br>  {% endif %}
    {% if item.papertitle %}      <i>{{ item.papertitle }}</i><br> {% endif %}
    {% if item.paperjournallink %}<a href={{ item.paperjournallink }}>{{ item.paperjournal }}</a>{% endif %}
    {% if item.paperpdf %}        [<a href={{ get_asset( 'papers/'+ item.paperpdf) }}>pdf</a>]{% endif %}
    {% if item.paperarxiv %}      [<a href={{ item.paperarxiv }}>arXiv</a>]{% endif %}
  </section>

{% endblock %}
