@import 'normalize';
@import 'bourbon/bourbon';
//@import 'base/base';
@import 'defs';

// Common

// COLORS
$color-main: #367341;
$color-sec : #c03430;
$color-gray1: $l_gray;
$color-gray2: $l_black;
$color-bg: $d_black;
$color-text: $d_white;

$max-width : 100%;
@import 'neat/neat';
$mmobile: new-breakpoint(min-width $breakpoint-small 12);
$mmedium: new-breakpoint(min-width $breakpoint-medium 12);
$mbig: new-breakpoint(min-width $breakpoint-big 12);


$base-font-family: 'DejaVu Sans', sans-serif;
$code-font-family: 'DejaVu Mono', monospace;
$alt-font-family:  'DejaVu', serif;

//// grid
body{
  @include outer-container;
  width:100%;
  @include media ($mmobile){
    nav{
      @include span-columns(4);
    }
    .main{
      @include span-columns(7);
      @include shift(4);
      aside {
        @include span-columns(2 of 7);
      }
      section{
        @include span-columns(5 of 7);
      }
    }
  }
  @include media ($mmedium){
    nav{
      @include span-columns(3);
    }
    .main{
      @include span-columns(6 of 12);
      @include shift(3);
      aside {
        @include span-columns(2 of 6);
      }
      section{
        @include span-columns(4 of 6);
      }
    }
  }
}

html {
  font-family:$base-font-family;
}

a{
  color: $color-main;
}

a:hover {
  color: $color_sec;
}

