@import 'normalize';
@import 'bourbon/bourbon';
//@import 'base/base';
@import 'defs';
@import 'functions';
@import 'fa/font-awesome';

// Common

// COLORS
$color-main:  hsl(130deg,30%,50%);
$color-sec:   hsl(2deg,30%,50%);
$color-bg:    hsl(0deg,0%,20%);
$color-gray1: hsl(0deg,0%,40%);
$color-gray2: hsl(0deg,0%,60%);
$color-text:  hsl(0deg,0%,80%);

$colors:(
   main:  hsl(130deg,30%,50%),
   sec:   hsl(2deg,30%,50%),
   bg:    hsl(0deg,0%,20%),
   gray1: hsl(0deg,0%,40%),
   gray2: hsl(0deg,0%,60%),
   text:  hsl(0deg,0%,80%)
);

$max-width : 100%;

@import 'neat/neat';

$mmobile: new-breakpoint(min-width $breakpoint-small 12);
$mmedium: new-breakpoint(min-width $breakpoint-medium 12);
$mbig: new-breakpoint(min-width $breakpoint-big 12);


.central {
	@include outer-container;
	margin-top:2em;
	width: 100%;
	@include media($mmobile){
		width : 60%;
	}
	margin-left: auto;
	margin-right: auto;

	.card {
		@include span-columns(4);
		background-color: $color-main;
		a { color: $color-bg; }
		color: $color-bg;
		h1, h2, h3, h4, h5 {
			text-align: center;
			margin-top: 0;
			background-color: $color-bg;
			color: $color-main;

		}
	}
}

$base-font-family: 'DejaVu Sans', sans-serif;
$code-font-family: 'DejaVu Mono', monospace;
$alt-font-family:  'DejaVu', serif;


html {
  font-family:$base-font-family;
}
