
// COLORS

$l_yellow:          #e5d747;
$l_orange:          #e58647;
$l_red:             #e45048;
$l_magenta:         #d647e5;
$l_violet:          #8a47e5;
$l_green:           #6fd854;
$l_cyan:            #47e5a8;
$l_blue:            #47ade5;

$d_yellow:          #ccbd1d;
$d_orange:          #cc651d;
$d_red:             #cc241d;
$d_magenta:         #bb1dcc;
$d_violet:          #681dcc;
$d_green:           #4abe2b;
$d_cyan:            #1dcc88;
$d_blue:            #1d8ecc;

$d_black:           #1e1e1e;
$l_black:           #3c3c3c;
$d_gray:            #5a5a5a;
$l_gray:            #969696;
$d_white:           #b4b4b4;
$l_white:           #c8c8c8;

$darken1:           10%;
$darken2:           20%;
$lighten1:          10%;
$lighten2:          20%;

$d_red:             #cc241d;
$l_red:             #fb4934;
$d_green:           #98971a;
$l_green:           #b8bb26;
$d_yellow:          #d79921;
$l_yellow:          #fabd2f;
$d_blue:            #458588;
$l_blue:            #83a598;
$d_purple:          #b16286;
$l_purple:          #d3869b;
$d_cyan:            #689d6a;
$l_cyan:            #8ec07c;

// BREAKPOINTS

$breakpoint-small:  50em;
$breakpoint-medium: 60em;
$breakpoint-big:    90em;
