
.central {
  @include outer-container;
  margin-top:2em;
  width: 100%;
  @include media($mmobile){
    width : 60%;
  }
  margin-left: auto;
  margin-right: auto;
  .card {
    @include span-columns(4);
    background-color: color(main);
    a { color: $color-bg; }
    color: $color-bg;
    h1, h2, h3, h4, h5 {
      text-align: center;
      margin: 0;
      background-color: $color-bg;
      color: $color-main;
    }
  }
}

