@import "compass";
@import "compass/reset";
@import "normalize";
@import "compass/css3";
@import "compass/css3/font-face";
@import "compass/typography/vertical_rhythm";
@import "compass/layout/stretching";
@import "susy";
@import "breakpoint";


// colors:
$color-links      : #558800;
$color-nav        : #999999;
$color-nav-bg     : #552233;
$color-title      : #555555;
$color-title-line : #BBBBBB;


$susy: (
    columns: 12,
);

$breakpoint-small: 50em;
$breakpoint-medium: 60em;
$breakpoint-big: 90em;

$sidebar-width: 13em;

// Susy grid
body{
  @include container;
  @include breakpoint ($breakpoint-small){
    nav{
      @include span(4);
    }
    .main{
      @include span(isolate 7 at 5);
      aside {
        @include span(3 of 7);
      }
      section{
        @include span(4 of 7 last);
      }
    }
  }
  @include breakpoint ($breakpoint-medium){
    nav{
      @include span($sidebar-width);
    }
    .main{
      @include span(7);
      @include pre($sidebar-width*1.5);
      aside {
        @include span(2 of 7);
      }
      section{
        @include span(5 of 7 last);
      }
    }
  }
  @include breakpoint ($breakpoint-big){
    .main{
      @include span(50em);
      @include pre($sidebar-width*1.5);
    }
  }
}


// vertical rhythm
$base-font-size: 18px;
$base-line-height: 22px;
$rhythm-unit: "rem";
$rem-with-px-fallback: false;
@include establish-baseline;


@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);
$base-font-family: 'PT Sans', sans-serif;
$code-font-family: 'PT Mono', ;
$alt-font-family: 'PT Serif', serif;
$capt-font-family: 'PT Sans Caption', sans-serif;

$type-scale: (
  tiny: (
    font-size: 13px,
    base-lines: 0.5
  ),
  small: (
    font-size: 16px,
    base-lines: 0.75
   ),
  base: (
   font-size: $base-font-size,
   base-lines: 1
  ),
  medium: (
    font-size: 25px,
    base-lines: 1.5
  ),
  large: (
    font-size: 31px,
    base-lines: 1.5
  ),
  xlarge: (
    font-size: 39px,
    base-lines: 2
  ),
  xxlarge: (
    font-size: 49px,
    base-lines: 3 
  )
);



@function map-fetch($map, $keys) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);
  @if ($length > 1) {
    $rest: ();
    @for $i from 2 through $length {
      $rest: append($rest, nth($keys, $i))
    }
    @return map-fetch($value, $rest)
  } @else {
    @return $value;
  }
}

@mixin type-scale($scale, $map: $type-scale) {
  $font-size: map-fetch($map, $scale font-size);
  $base-lines: map-fetch($map, $scale base-lines);
  @include adjust-font-size-to($font-size, $base-lines);
}

$type-weight: (
    thin: 200,
    light: 300,
    regular: 400,
    bold: 700,
    black: 900
);
@mixin type-weight($weight) {
    font-weight: map-get($type-weight, $weight);
}
