@import 'base';

html {
  margin:0;
  color:white;
}

body {
  margin:0;
  background-color:$color-gray2;
}

nav {
  background-color: $color-gray2;
  text-align:center;
  padding:1em;
  @include media ($mmobile){
	  position:fixed;
	  height:100%;
	  text-align:right;
  }
}

.bottom-line {
	margin-bottom:0px;
}
.post-list {
	list-style-type:none;
}
