@import 'base';


body {
  margin:0;
}

nav {
	background-color: $color-main;
	text-align:center;
	padding:1em;
  @include media ($mmobile){
	  position:fixed;
	  height:100%;
	  text-align:right;
  }
}
