@import 'base';
@import 'struct';

html {
  margin:0;
  color: $color-text;
}

body {
  margin:0;
  background-color:$color-bg;
}

nav {
  background-color: $color-bg;
  text-align:center;
  padding:1em;
  @include media ($mmobile){
	  position:fixed;
	  height:100%;
	  text-align:right;
  }
  a:hover img {
    @include background-image( radial-gradient($color-main, $color-bg) );
  }
}

.bottom-line {
	margin-bottom:0px;
}

blockquote {
  font-family: $alt-font-family;
  font-weight: 300;
  background-color: lighten($color-bg,$lighten1);
  padding:1em;
  color: darken($color-text,$darken1);
}

a{
  color: $color-main;
}

a:hover {
  color: $color_sec;
}

article img{
  width:100%;
}


