@import 'base';


.nav {
  background-color: $color-complement-2;
  ul{
    margin:0;
    padding:1em;
    @include media ($mmobile){
      padding: 1em 10%;
    }
  }
  li{
    display:inline;
    padding:1em;
  }
}

%splash {
  width:100%;
  padding-left:25%;
  padding-right:25%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}

.splash {
  @extend %splash;
  background-color: $gray3;
  color: $gray1;
  h1 { color: $color-primary-0;}
  img { width: 80%; }
  @include media ($mmobile){
    img { width: 50%; }
  }
}

.splash2 {
  @extend %splash;
  background-color:$color-complement-1;
}


h1 {
  font-size: 200%;
  font-weight: 400;
}
p {
  font-size: 150%;
}

a {
  font-weight: 400;
}
